.gradient-bg {
    background-image: url('./assets/BG.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0rem 15vh;
}


.background {
    background-image: url('./assets/BG.png');
}